{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h2>Our Mission</h2>
    <p>Our website will represent a market for misfit fruit, whether it be aesthetically unsuited for the grocery aisle or just surplus.
        Direct connections will be made between buyers and sellers in their local environment. A search system allows customers to
        quickly find the products they’re looking for, while a profile system allows them to easily gauge the reputability of the seller.
</p>

{% endblock %}